// @import '../styles/allColors.js';

// COLORS 
$color_Black_000: #000;
$color_Black_232: #232020;
$color_Black_0-21: #00000021;
$color_Grey_8E9: #8E989F;
$color_Grey_DED: #DEDEDE;
$color_Grey_979: #979797;
$color_White_FFF: #fff;
$color_Blue_E5E: #E5E6F4;
$color_Green_ECF: #ECF4E5;
$color_Pink_FFD: #FFDFD4;
$color_Yellow_F4F: #F4F2E5;

// SIZE FONTS
$size14: 14px;
$size15: 15px;
$size16: 16px;
$size18: 18px;
$size22: 22px;
$size32: 32px;
$size34: 34px;
$size36: 36px;
$size38: 38px;

// WEIGHT FONTS
$weight900: 900;
$weight600: 600;
$weight700: 700;
$weight400: 400;

// LETTER SPACING

// FONT FAMILY
$fontFamily: 'Roboto';