@import "../variables.module.scss";

.subsribeComp {
    width: 100%;
    max-width: 388px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 405px;
    gap: 32px;
    flex-shrink: 0;
    .titleInputsCard {
        width: 230px;
        color: $color_Black_232;
        text-align: center;
        font-family: $fontFamily;
        font-size: $size32;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .inputSection {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 248px;
        .labelInput {
            color: $color_Black_232;
            font-family: $fontFamily;
            font-size: $size14;
            font-weight: $weight400;
            &.wrongEmailLabel {
                color: #ff0000;
            }
        }
        input {
            background: none;
            border: none;
            outline: none;
            background-color: $color_White_FFF;
            padding: 16px;
            color: $color_Black_232;
            font-family: $fontFamily;
            font-size: $size16;
            font-weight: $weight400;
            border: 1px solid transparent;
            &.wrongEmail {
                border: 1px solid #ff0000;
            }
        }
    }
    button {
        background: none;
        outline: none;
        border: none;
        background-color: $color_Black_000;
        color: $color_White_FFF;
        font-family: $fontFamily;
        font-size: $size22;
        font-weight: $weight700;
        width: 248px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        border: 1px solid transparent;
        transition: 250ms;
        &:enabled {
            cursor: pointer;
            &:hover {
                border: 1px solid $color_Black_000;
                background: none;
                color: $color_Black_000;
            }
        }
        &:disabled {
            background-color: $color_Grey_979;
        }
    }
}
